.review-item {
  display: flex;

  &__img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
  }

  &__review-container {
    flex-grow: 1;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

    small {
      font-style: italic;
    }
  }

  &__title-block {
    display: flex;
    justify-content: flex-start;

    h5 {
      margin: 0 1rem 0 0;
      font-size: 1rem;
    }
  }
}
